:root {
  --color-primary: #5ec576;
  --gradient-primary: linear-gradient(to top left, #ffffff, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: auto;
}

/* For smooth animations */
a,
button,
input {
  transition: all 0.1s ease-in;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  width: 100%;
  z-index: 0;
}

.nav {
  padding: 25px 140px 25px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #fffbd7;
  transition: all 0.3s ease-in;
}
/* nav and stickly class at the same time */
.sticky {
  position: fixed;
  width: 100%;
  top: 100;
  transition: all 0.3s ease-in;
}

.nav__logo {
  scale: 90%;
  cursor: pointer;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

.nav__item {
  margin-left: 53px;
}

.nav__link--btn {
  margin-left: 40px;
}

.nav__link:link,
.nav__link:visited {
  font-family: 'Mouse Memoirs', sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  display: block;
  transition: all 0.5s;
  color: #404040;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 1px 65px 1px 65px;
  border-radius: 3px;
  border: 1px solid #6b6b6b;
  color: #222;
}

.nav__link--btn:hover {
  background-color: rgb(66, 66, 66);
  color: #f1f1f1;
}

.nav__link--btn:active {
  transition: 0.1s ease-out;
  cursor: pointer;
  box-shadow: 0 0 18px rgba(113, 113, 113, 0.2);
  transform: translate(0%, 4%);
  /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); */
}

.header__content {
  padding: 0px 140px 0px 140px;
  width: 100%;
  height: 700px;
  background: #edf4f4 url('../img/background_main.png') center top / cover;
}

.header__title--text {
  margin-left: 150px;
}

.header__title--text-main {
  font-family: 'Vidaloka', serif;
  font-size: 64px;
  font-weight: 300;
  color: #4a4a4a;
  padding-top: 181px;
  width: 800px;
  line-height: 56pt;
}

.header__title--text h3 {
  font-family: 'Imbue', serif;
  font-size: 40px;
  font-weight: 300;
  color: #606060;
}

.header__title--btn {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 34px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
  margin-top: 22px;
  color: #ff5454;
  padding-bottom: 2px;
  border-bottom: 1px solid #ff8282;
}

.header__title--btn-img {
  margin-left: 2px;
  padding-top: 5px;
}

.header__image {
  left: 53%;
  top: 27%;
  position: absolute;
  scale: 92%;
}

.transition__top-1 {
  position: absolute;
  top: 630px;
  width: 100%;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section--1 {
  height: 800px;
  background-color: #faf4e5;
}

.section__text_small {
  padding: 60px 240px 0px 340px;
  color: #fe7e7e;
}

.section__description {
  padding: 10px 240px 0px 340px;
  font-family: 'Vidaloka', serif;
  font-size: 48px;
  font-weight: 300;

  line-height: 122%;
  color: #4a4a4a;
}

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  /* max-width: 1700px; */
  /* IN THE END */
  overflow: hidden;
}

.slide {
  padding: 0px 240px 0px 340px;
  padding-top: 100px;
  position: absolute;
  display: flex;
  flex-direction: row;
  transition: transform 1s;
  display: flex;
}

.testimonial {
  padding-top: 30px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.testimonial__name {
  font-family: 'Vidaloka', serif;
  font-size: 48px;
  font-weight: 300;

  color: #4a4a4a;
}

.testimonial__text {
  line-height: 172%;
  width: 450px;
}

.slider__btn--left {
  position: absolute;
  top: 32%;
  left: 13%;
}

.slider__btn--right {
  position: absolute;
  top: 32%;
  right: 10%;
}

.slider__img_arrow {
  scale: 85%;
}

.slider__btn {
  padding: 9px;
  text-decoration: none;
  background: #868686;
  border: none;
  border-radius: 50%;
}

.slider__btn:hover {
  cursor: pointer;
  background-color: rgb(77, 77, 77);
  transition: 0.1s ease-out;
}

.slider__btn:active {
  transition: 0.1s ease-out;
  cursor: pointer;
  box-shadow: 0 0 18px rgba(113, 113, 113, 0.4);
  transform: translate(0%, 4%);
  /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); */
}

.dots {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

.transition__bottom {
  position: absolute;
  width: 100%;
}

.section--2 {
  height: 830px;
  background-color: #ffebe0;
}

.section__text_small--2 {
  padding-top: 200px;
}

.experience__content_texture {
  position: absolute;
  z-index: -1;
  left: 70%;
  bottom: 12%;
}

.experience {
  position: absolute;
  padding-top: 75px;
  left: 25%;
  align-items: center;
  z-index: 10;
}

.experience__tab-container {
  position: absolute;
  left: 22%;
  bottom: 76%;
  transform: translateY(-55%);
}

.experience__tab {
  font-family: 'Mouse Memoirs', sans-serif;
  text-decoration: none;
  padding: 7px 45px 7px 45px;
  width: 170px;
  border: none;
  font-size: 23px;
  margin-right: 25px;
  border-radius: 3px;
  /*  border: 1px solid #d3d3d3; */
  z-index: 11;
}

.experience__tab--active {
  transform: translateY(-18%);
}

.experience__tab:hover {
  cursor: pointer;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.05);
}

.experience__tab--1 {
  background-color: #ebffcb;
}
.experience__tab--2 {
  background-color: #cbfffc;
}
.experience__tab--3 {
  background-color: #ffdef2;
}

.experience__background {
  border-radius: 10px;
  padding: 75px 65px 45px 75px;
  width: 950px;
  background-color: #fff7e7;
}

.experience__content {
  padding-top: 45px;
  display: none;
  justify-content: space-between;
  display: none;
  visibility: hidden;
  transition: all 0.5s;
  opacity: 0;
}

.experience__content--active {
  transform: translateY(-12%);
  display: flex;
  visibility: visible;
  transition: all 0.5s;
  opacity: 100;
}

.experience__content_text-desc {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  width: 380px;
  z-index: 10;
}

.section--3 {
  background-color: #ffebe0;
  height: 1530px;
}

.section__text_small--3 {
  padding-top: 200px;
}

.plan {
  padding: 0px 340px 100px 340px;
}

.lazy-img {
  filter: blur(15px);
}

.plan_images {
  width: 560px;
}

.plan__hotels {
  padding-top: 120px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.plan__payment {
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.plan__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #474747;
}

.plan__desc {
  width: 500px;
  font-weight: 500;
  font-size: 18px;
  color: #5f5f5f;
}

.plan__texture-1 {
  position: absolute;
  left: 9.5%;
  top: 3190px;
  opacity: 80%;
  scale: 90%;
}
.plan__texture-2 {
  position: absolute;
  left: 65%;
  top: 2690px;
  opacity: 90%;
}

.transition__top-2 {
  position: absolute;
  top: 3700px;
  width: 100%;
}

.section--4 {
  height: 300px;
  background-color: #faf4e5;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__text_small {
  padding-right: 340px;
}

.section__description {
  padding-right: 300px;
}

.section__description--btn {
  margin-top: 40px;
  text-decoration: none;
  border: 1px solid #9b9b9b;
  padding: 5px 55px 5px 55px;
  font-family: 'Mouse Memoirs', sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 28px;
  display: block;
  border-radius: 5px;
  transition: all 0.5s;
  color: #404040;
}

.section__description--btn:hover {
  background-color: rgb(66, 66, 66);
  color: #f1f1f1;
}

.section__description--btn:active {
  transition: 0.1s ease-out;
  cursor: pointer;
  box-shadow: 0 0 18px rgba(113, 113, 113, 0.2);
  transform: translate(0%, 4%);
  /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); */
}

.footer {
  background-color: #fff4ee;
  height: 600px;
  background: #fff4ee url('../img/palms_footer.png') center bottom no-repeat;
}

.offer {
  transition: transform 1s, opacity 1s;
}

.footer__links {
  padding-top: 280px;
  display: flex;
  justify-content: center;
  list-style: none;
  z-index: 1;
}

.footer__item a {
  margin-right: 50px;
}

.footer__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #8a8a8a;
  z-index: 1000;
}

.footer__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

.footer__logo {
  scale: 80%;
  cursor: pointer;
  opacity: 70%;
}

.footer__copyright {
  color: #929292;
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.github-link {
  font-weight: 500;
  font-size: 14px;
}

.footer__link:hover {
  color: rgb(58, 58, 58);
}

/* MODAL WINDOW starts here CSS*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  max-height: 800px;
  background-color: #ffeacb;
  padding: 70px 85px 30px 85px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 10px;
  background: #fff4ee url('../img/palms_footer.png') bottom no-repeat;
  background-size: 700px 200px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-family: 'Vidaloka', serif;
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 2.5rem;
  line-height: 1.5;
  text-align: center;
  line-height: 42px;
}

.modal__form {
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
}

.modal__form label {
  font-size: 16px;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 0.2rem 1.8rem;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 3px;
}

.modal__btn {
  width: 240px;
  font-size: 26px;
  padding: 8px 45px 8px 45px;
  margin-top: 2.5rem;
  margin-left: 18%;
  background: none;
  border-radius: 5px;
  border: 1px solid rgb(156, 156, 156);
  font-family: 'Mouse Memoirs', sans-serif;
  transition: all 0.5s;
}

.modal__btn:hover {
  cursor: pointer;
}

.modal__btn:hover {
  background-color: rgb(66, 66, 66);
  color: #f1f1f1;
}

.modal__btn:active {
  transition: 0.2s ease-out;
  cursor: pointer;
  box-shadow: 0 0 18px rgba(113, 113, 113, 0.2);
  transform: translate(0%, 4%);
}

.modal__logo {
  margin-left: 180px;
  margin-top: 20px;
  padding-top: 50px;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* MODAL WINDOW ends here CSS*/
/* 


*/
/* COOKIE MESSAGE */
.cookie-message {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  text-align: center;
  padding-left: 440px;
  width: 1920px;
  background-color: white;
  color: #bbb;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.5s;
  z-index: 500;
}

.cookie-p {
  margin-left: 8px;
  color: rgb(146, 146, 146);
  font-size: 14px;
}

.btn--close-cookie {
  text-decoration: none;
  color: rgb(180, 180, 180);
  background: none;
  font-size: 16px;
  padding: 5px 35px 5px 35px;
  margin-left: 50px;
  transition: all 0.5s;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 5px;
}

.btn--close-cookie:hover {
  cursor: pointer;
}
